header {
    font-family: helvetica, sans-serif ;
    font-weight: bolder;
    font-size: larger;
    background-color: #1a1a1a;
    color: whitesmoke;
    padding: 2rem;
    margin: auto;
    border-bottom: 2px solid whitesmoke;
}

nav {
    display: inline-block;
    text-align: center;
    margin-top: 1.2rem;
    font-size: small;
    font-weight: bold;
    color: whitesmoke;

}

a {
    font-weight: bold;
    color: whitesmoke;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
}

body{
    background-color: #1a1a1a;
}
h1 {
    color: whitesmoke;
    font-family: helvetica, sans-serif ;
    font-weight: bold;
}

h2{
    color: whitesmoke;
    font-family: helvetica, sans-serif ;
    font-weight: 600;
}

h3{
    color: whitesmoke;
    font-family: helvetica, sans-serif ;
    font-weight: medium;
    
}

h4{
    color: whitesmoke;
    font-family: helvetica, sans-serif ;
    font-weight: medium;
}

h5{
    color: whitesmoke;
    font-family: helvetica, sans-serif ;
    max-width: 20rem;
    font-size: 1.2rem;

}

table {
    width: max-content;
    border-radius: 0%;
    border: 2px solid whitesmoke;
}

th {
    color: whitesmoke;
    font-family: helvetica, sans-serif ;
    font-weight: bold;
    text-align: left;
    padding: 1rem;
    border-bottom: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
}

td {
    color: whitesmoke;
    font-family: helvetica, sans-serif ;
    font-weight: normal;
    text-align: left;
    padding: 1rem;
    border-bottom: 2px solid whitesmoke;
    border-left: 2px solid whitesmoke;
}

tr:nth-child(even) {background-color: #272727;}

footer {
    color: whitesmoke;
    font-family: helvetica, sans-serif ;
    font-weight: normal;
    text-align: left;
    margin-left: 0.7rem;
}

#worklink {
    color: #3366CC;
    font-family: helvetica, sans-serif ;
    font-weight: normal;
    text-decoration-line: underline;
    text-decoration-thickness: 1.5px;
}

.margin{
    margin-left: 4rem;
}

p{
    color: whitesmoke;
    font-family: helvetica, sans-serif ;
    font-weight: normal;
    font-size: 1rem;
    max-width: 40rem;
}

img {
    border-radius: 15%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

li {color: whitesmoke;
}

.navbreak{
    margin-right: 0.7rem;
    margin-left: 0.7rem;
}

.row {
  display: flex;
  align-items: flex-start;
  gap: 1.5rem;            /* ~24px */
  flex-wrap: wrap;
  padding: 1.25rem;       /* ~20px */
}

.item {
  text-align: left;
  max-width: 11.25rem;    /* ~180px */
}

.item img {
  width: 100%;
  height: auto;
  max-width: 9.375rem;    /* ~150px */
  display: block;
  margin: 0 auto 0.625rem; /* ~10px */
}

.item h3 {
  font-size: 1rem;        /* default text size */
  line-height: 1.3;
  margin: 0;
}

@media (max-width: 37.5rem) {  /* ~600px */
  .row {
    gap: 1rem;
  }

  .item {
    max-width: 100%;
  }

  .item h3 {
    font-size: 0.95rem;
  }
}